<div class='inner-content' style="text-align:center;padding:2em">
    <h5>Login</h5>

    <%= form_tag '/login', method: :post do %>
        Email: <%= text_field_tag :'user[email]' %>
        Password: <%= text_field_tag :'user[password]' %>
        <%= submit_tag "Log In" %>
    <% end %>

    or <%= link_to 'Signup', '/signup' %><br><br>

    <%= link_to "Login with Github", "/auth/github", method: :post %>
</div>
