<h3>New Task</h3>
<%= form_for @task do |task_builder| %>
    <%= task_builder.hidden_field :segment_id, :value => @segment.id %>
    Title: <%= task_builder.text_field :title %>
    Deadline: <%= task_builder.date_select :deadline %>
    Description: <%= task_builder.text_area :description %>

      <% if @segment.team.positions != []%>
        Pick a Team Member to complete this task<%= task_builder.collection_select :position_id, @segment.team.positions, :id, :title, {:include_blank => true} %>
        <%= task_builder.submit "Create Task" unless @user %>
      <% end %>

      <% if @task.user.nil? %>
        <% if @segment.team.positions == [] %>
        <p>You currently have not created any team members in this team. You need to create a team member before you can create a task.</p>
        <% end %>
      <% else %>
        <br><br><h3>New Team Member</h3>
        <%= task_builder.fields_for :user, @user do |user_builder| %>
        First Name: <%= user_builder.text_field :first_name %><br><br>
        Last Name: <%= user_builder.text_field :last_name %><br><br>
        Email: <%= user_builder.text_field :email %><br><br>
        Password: <%= user_builder.password_field :password %><br><br>
        Re-Password: <%= user_builder.password_field :password_confirmation %><br><br>
        Privlages: <br><br>
        Admin: <%= user_builder.radio_button :privilege, :checked => "Admin"%><br>
        Team Leader: <%= user_builder.radio_button :privilege, :checked => "Team Leader"%><br>
        Team Member: <%= user_builder.radio_button :privilege, :checked => "Team Member"%><br><br>

        <%= task_builder.fields_for :position, @position do |position_builder| %>
        Position Title: <%= position_builder.text_field :title %>
        Position Description: <%= position_builder.text_field :description %>
        <% end %>
      <% end %>
    <% end %>
  <br><br><%= task_builder.submit "Create Task" if @user || @segment.team.positions != nil %>
<% end %>