<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <h1><%= @task.title %></h1>
    
    <div class="col-content">
    <%= @task.description %><br><br>
    Assigned Team Member: <%= link_to "#{@task.assigned_user.full_name}", team_user_path(@task.assigned_user.team, @task.assigned_user) %><br><br>

    <%= render :partial => "tasks/completed_form" if @task.assigned_user == @current_user %><br>

    </div>
  </div>
</div>
</div>

<%= render :partial => 'task_comments/form', :locals => { :subject => @task } %>

<%= render :partial => "tasks/show_comments" %><br>