<h1><%= @task.title %></h1>
<%= link_to "Update Task", edit_segment_task_path(@task) %>
<%= link_to "Delete Task", [@segment, @task], :method => :delete %><br>
<%= @task.description %>
Assigned Team Member: <%= @task.assigned_user.full_name %>

<%= form_for [@task.segment, @task] do |f| %>
<% if @task.completed == false %>
    Mark if task is completed: 
    <%= f.radio_button :completed, true, { onchange: 'this.form.submit();' } %>
  <% else %>
    Mark if task is incomplete:
    <%= f.radio_button :completed, false, { onchange: 'this.form.submit();' } %>
  <% end %>
<% end %>

<%= render :partial => 'task_comments/form', :locals => { :subject => @task } %>

<br><br>Comments: <br><br>

<% @task.task_comments.each do |comment| %>
  <% if @task.task_comments.empty? %>
    <p>There are no comments to view on this post. <%= link_to "Create Comment", new_task_comment_path %>
  <% else %>
      <% if !comment.id.nil? || !comment.content.nil?%>
        <%= comment.user.full_name %><br>
        <%= comment.content %>
    <% end %><br><br>
  <% end %>
<% end %>