<h1><%= @task.title %></h1>
<%= @task.description %>
Assigned Team Member: <%= @task.assigned_user.full_name %><br><br>

<%= link_to "Update Task", edit_segment_task_path(@task) %><br><br>
<%= link_to "Delete Task", [@segment, @task], :method => :delete %><br><br>

<%= render :partial => "completed_form" %><br>

<%= render :partial => 'task_comments/form', :locals => { :subject => @task } %>

<%= render :partial => "show_comments" %><br>
