<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">
     
 
  <% if @task.errors.any? %>
    <h3>Errors:</h3>
      <ul class="error-content">
    <% @task.errors.full_messages.each do |message| %>
            <li><%= message %>
          <% end %>
      </ul>
  <% end %>

<%= form_for [:admin, @segment, @task] do |task_builder| %>
    <%= task_builder.hidden_field :segment_id, :value => @segment.id %>
    Title: <%= task_builder.text_field :title, required: true, placeholder: "Enter the new Tasks's title..." %>
    Deadline: <%= task_builder.date_field :deadline, required: true %>
    Description: <%= task_builder.text_area :description, required: true, placeholder: "Enter the new Task's description..." %><br><br>

      <% if @show_task_and_user_form.nil? && @segment.team.positions != [] %>
        <p>Pick a Team Member:<p> <%= task_builder.collection_select :position_id, @segment.team.positions, :id, :title, {:include_blank => true} %>
        or <%= link_to "Add User", admin_project_segment_path(@segment.project, @segment, :show_task_and_user_form => true) if @task && @user.nil? %>
      <% end %>

        <% if @segment.team.positions == [] %>
        <p>You currently have not created any team members in this team. You need to create a team member before you can create a task.</p>
        <%= link_to "Add User", admin_project_segment_path(@segment.project, @segment, :show_task_and_user_form => true) if @task && @user.nil? %>
        <% end %>

        <% if @task.assigned_user %>
          <br><br><%= link_to "Edit Task's Assigned Team Member", edit_admin_segment_task_path(@task.segment, @task, :show_user_form => "edit_user") unless @show_user_form || @task.id.nil? %><br>
        <% else %>
          <br><br><%= link_to "Create Task's Assigned Team Member", edit_admin_segment_task_path(@task.segment, @task, :show_user_form => "create_user") unless @show_user_form || @task.id.nil?%>
        <% end %>

    <% if @show_user_form || @task.assigned_user.nil? %>

        <%= task_builder.fields_for :user, @user do |user_builder| %>
        <br><h3><%= @user.nil? || @user.id.nil? ? "New Team Member" : "Edit Team Member" %></h3><br>
        <%= user_builder.hidden_field :user_param_value, :value => "#{@show_user_form}" %>
        First Name: <%= user_builder.text_field :first_name, required: true %><br><br>
        Last Name: <%= user_builder.text_field :last_name, required: true %><br><br>
        Email: <%= user_builder.text_field :email, required: true %><br><br>
        Password: <%= user_builder.password_field :password, :placeholder => "Not required for edit..." %><br><br>
        Re-Password: <%= user_builder.password_field :password_confirmation, :placeholder => "Not required for edit..." %><br><br>
        Privlages: <br><br>
        Admin: <%= user_builder.radio_button :privilege, "Admin", required: true%><br>
        Team Leader: <%= user_builder.radio_button :privilege, "Team Leader", required: true%><br>
        Team Member: <%= user_builder.radio_button :privilege, "Team Member", required: true%><br><br>

        <%= task_builder.fields_for :position, @position do |position_builder| %>
        Position Title: <%= position_builder.text_field :title %>
        Position Description: <%= position_builder.text_area :description %>
          <% end %><br>
      <% end %>
  <% end %>
  <br><%= task_builder.submit "Submit Task" %>
<% end %>
</div>
</div>
</div>