<%= form_for @user, url: "/profile/#{@user.id}", :method => "patch" do |user_builder| %>
    First Name: <%= user_builder.text_field :first_name %><br><br>
    Last Name: <%= user_builder.text_field :last_name %><br><br>
    Email: <%= user_builder.text_field :email %><br><br>
    Password: <%= user_builder.password_field :password %><br><br>
    Re-Password: <%= user_builder.password_field :password_confirmation %><br><br>
    Privlages: <br>
    Admin: <%= user_builder.radio_button :privilege, :checked => "Admin"%><br>
    Team Leader: <%= user_builder.radio_button :privilege, :checked => "Team Leader"%><br>
    Team Member: <%= user_builder.radio_button :privilege, :checked => "Team Member"%><br>

    <br><br>
    <% if @show_form != "new-team-and-new-position" %>
    <%= user_builder.fields_for :team_attributes, @team do |team_builder| %>
            <%= team_builder.hidden_field :profile, :value => "profile" %>
        <% if Team.all == [] %>
            <br><h3>Create a New Team:</h3>
        Team Name: <%= team_builder.text_field :name %>
        Team Description: <%= team_builder.text_area :description %><br><br>
        <% else %>
            <% if @show_form == "new-position" %>
               Change Team: <%= team_builder.collection_select :id, Team.all, :id, :name, {:include_blank => true} %>
               Or <%= link_to "Create a new Team", "/profile/#{@user.id}/edit/new-team-and-new-position" %><br><br>
            <% else %>
               Change Team: <%= team_builder.collection_select :id, Team.all, :id, :name, {:include_blank => true} %>
               Or <%= link_to "Create a new Team", "/profile/#{@user.id}/edit/new-team" %><br><br>
            <% end %>
        <% end %>

        <% if @show_form == "new-team" %>
            <h3>Create a New Team:</h3>
            Team Name: <%= team_builder.text_field :name %>
            Team Description: <%= team_builder.text_area :description %><br><br>
        <% end %>

    <%= user_builder.fields_for :position_attributes, @position do |position_builder| %>
        <% if @user.assigned_position.nil? %>
            <h3>Create a Position:</h3><br>
            Position Title: <%= position_builder.text_field :title %>
            Position Description: <%= position_builder.text_area :description %>
        <% else %>
            <% if @show_form == "new-team" %>
                <%= link_to "Update Position", "/profile/#{@user.id}/edit/new-team-and-new-position" %>
            <% else %>
                <%= link_to "Update Position", "/profile/#{@user.id}/edit/new-position" %>
            <% end %>
        <% end %>

        <% if @show_form == "new-position" %>
            <h3>Create a Position:</h3><br>
            Position Title: <%= position_builder.text_field :title %>
            Position Description: <%= position_builder.text_area :description %>
        <% end %>
      <% end %>
    <%= user_builder.submit "Submit User" %>
  <% end %>
    

        <% else %>
            <%= user_builder.fields_for :team_attributes, @team do |team_builder| %>
                <%= team_builder.hidden_field :profile, :value => "profile" %>
                <br><h3>Create a New Team:</h3>
                Team Name: <%= team_builder.text_field :name %>
                Team Description: <%= team_builder.text_area :description %><br><br>
            
            <%= user_builder.fields_for :position_attributes, @position do |position_builder| %>
                <h3>Create a Position:</h3><br>
                Position Title: <%= position_builder.text_field :title %>
                Position Description: <%= position_builder.text_area :description %>
        <% end %>
      <% end %><br><br>        
    <%= user_builder.submit "Submit User" %>
  <% end %>
<% end %>