<h3>New Segment</h3>
<%= form_for @segment do |segment_builder| %>
    <%= segment_builder.hidden_field :project_id, :value => @project.id %>
    Title: <%= segment_builder.text_field :title %>
    Deadline: <%= segment_builder.date_select :deadline %>
    Description: <%= segment_builder.text_area :description %><br><br>

      <% if Team.all != [] %>
           Pick a Team<%= segment_builder.collection_select :team, Team.all, :id, :name %>
           <%= segment_builder.submit "Create Segment" unless @team %><br><br>
      <% end %>

        <% if @segment.team.nil? %>
          <% if Team.all == [] %> <p>You currently have not created any teams. You need to create a team before you can create a segment.</p> <% end %>
        <% else %>
          <h3>New Team</h3>
            <%= segment_builder.fields_for @team do |team_builder| %>
            Team Name: <%= team_builder.text_field :name %>
            Team Description: <%= team_builder.text_area :description %><br><br>         
            <% end %>
          <% end %>
        <%= segment_builder.submit "Create Segment" if @team %>
    <% end %>