<%= form_for [@project, @segment] do |segment_builder| %>
<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <h4>Add Segment:</h4>
    <%= segment_builder.hidden_field :project_id, :value => @project.id %>
    Title: <%= segment_builder.text_field :title %>
    Deadline: <%= segment_builder.date_field :deadline %>
    Description: <%= segment_builder.text_area :description %><br><br>
      <% if Team.all != [] %>
           Pick a Team<%= segment_builder.collection_select :team_id, Team.all, :id, :name, {:include_blank => true} %>
           <%= segment_builder.submit "Create Segment" unless @team %><br><br>
      <% end %><br>
        <%= link_to "Create New Team", project_path(@project, :show_segment_and_team_form => true) if @segment && @team.nil? %>
    </div>
  </div>
</div>

        <% if @segment.team.nil? %>
          <% if Team.all == [] %> <p>You currently have not created any teams. You need to create a team before you can create a segment.</p> <% end %>
        <% else %>
  <div id="container-fluid">
    <div class="row">
      <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
          <h3>New Team</h3>
            <%= segment_builder.fields_for :team, @team do |team_builder| %>
            Team Name: <%= team_builder.text_field :name %>
            Team Description: <%= team_builder.text_area :description %>     
            <% end %>
            <%= segment_builder.submit "Create Segment" if @team %>
          <% end %><br><br>
        <%= segment_builder.submit "Create Segment" if @team %>
         </div>
     </div>
  </div>    
<% end %>