<% if @segment.tasks != [] %>
    <% @segment.tasks.ordered.each do |task| %>
      <div class ="<%=display_progress(task)%>-inner-content">
        <br><h4><strong>Task</strong>: <%= link_to "#{task.title}", segment_task_path(@segment.id, task.id) %></h4>
        <strong>Assigned Team Member</strong>: <%= link_to "#{task.assigned_user.full_name}", team_user_path(task.position.team.id, task.assigned_user.id) %> - <%= task.position.title %><br>
        <strong>Description</strong>: <%= task.description %><br>
        <strong>deadline</strong>: <%= pretty_deadline(task) %><br>
        <%= completed(task) %>
        </div>
     <% end %>
    <% else %>
        <p>There are no tasks associated with this segment.</p>
    <% end %>