<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">
    <div class="<%=display_progress(@segment)%>-col-content">
<h1><%= @segment.title %></h1>
Project: <%= link_to "#{@segment.project.title}", project_path(@segment.project) %><br>
Segment Deadline: <%= pretty_deadline(@segment) %><br>
Assigned Team: <%= link_to "#{@segment.team.name}", team_path(@segment.team) %><br><br>

<h2>Tasks:</h2>
<%= render :partial => "segments/show_tasks" %><br>

      </div>
    </div>
  </div>
</div>

<%= render :partial => 'segment_comments/form', :locals => { :subject => @segment } %>

<%= render :partial => "show_comments" %>
