<h1><%= @segment.title %></h1>
<h3><%= @segment.project.title %></h3>

<%= link_to "Add Tasks", segment_path(@segment, :show_task_form => true) unless @task %>

<%= render :partial => 'tasks/form', :locals => { :task => @task } if @task %>

<%= link_to "Add User", segment_path(@segment, :show_task_and_user_form => true) if @task && @user.nil? %>
