<h1><%= @segment.title %></h1>
<h3><%= link_to "#{@segment.project.title}", project_path(@segment.project) %></h3>
Assigned Team: <%= link_to "#{@segment.team.name}", team_path(@segment.team) %><br><br>

<%= link_to "Update Segment", edit_project_segment_path(@segment.project, @segment) %><br><br>
<%= link_to "Delete Segment", @segment, :method => :delete %><br><br>

<%= render :partial => "completed_form" %>

<%= render :partial => "show_tasks" %><br>

<%= link_to "Add Tasks", project_segment_path(@segment, :show_task_form => true) unless @task %>

<%= render :partial => 'tasks/form', :locals => { :task => @task } if @task %>

<%= link_to "Add User", project_segment_path(@segment, :show_task_and_user_form => true) if @task && @user.nil? %>

<%= render :partial => 'segment_comments/form', :locals => { :subject => @segment } %>

<%= render :partial => "show_comments" %>