<% if @project.nil? %>
<% elsif @project.segments == [] %>
    <p>You have no segments for this project. <%= link_to "Add Segments", admin_project_path(@project, :show_segment_form => true ) unless @segment %></p>
<% else %>
    <% @project.segments.ordered.each do |segment| %>
        <div class="<%=display_progress(segment)%>-inner-content">
            <%= link_to("#{segment.title}", admin_project_segment_path(@project.id, segment.id)) %><br>
            Team: <%= link_to "#{segment.team.name}", admin_team_path(segment.team) %><br>
            <%= "#{segment.description}" %><br><br>
        </div>
    <% end %>
<% end %>