<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">

    <ul style="text-align: center;padding:20px;">
      <strong><li style="font-size: 20px;"><%= link_to "#{@current_user.company.name}'s Projects", admin_projects_path %></li></strong> | 
      <li><%= link_to "Completed Projects", admin_projects_path(:project_index_link => "complete") %></li> | 
      <li><%= link_to "Incomplete Projects", admin_projects_path(:project_index_link => "incomplete") %></li> | 
      <li><%= link_to "Add Projects", new_admin_project_path %></li>
    </ul>

    <p style="text-align: center;"><%= link_to "Create Projects", new_admin_project_path if @company.projects.empty? %></p>

    <% if @project_index_links == "complete" %>
        <%= render :partial => "admin/projects/show_complete_projects" %>
    <% elsif @project_index_links == "incomplete" %>
        <%= render :partial => "admin/projects/show_incomplete_projects" %>
    <% else %>
        <%= render :partial => "admin/projects/index_form" %>
    <% end %>

    </div>
  </div>
</div>
