<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <% if @company.projects.incomplete.empty? %>
        <p>There are no incomplete Projects!</p>
    <% else %>
    <% @company.projects.incomplete.each do |project| %>
        <h2><%= link_to "#{project.title}", project_path(project)%><br></h2>
        <strong><%= pretty_deadline(project) %></strong><br><br>
        <%= project.description %><br><br>
        <h3><strong>Segments</strong>:</h3>

        <% if project.segments.empty?%>
            <%= "You do not have any segments associated with this project." + link_to("Create Segments", project_path(project)) %>
        <% else %>
            <% project.segments.ordered.each do |segment| %>
                    <h4><%= link_to "#{segment.title}", project_segment_path(project, segment) %><br></h4>
                    <strong><%= pretty_deadline(segment) %></strong><br>
                    <%= segment.description %><br>
                    <%= completed(segment)%>
              <% end %>
            <% end %>
          <% end %>
        <% end %><br><br>
      </div>
   </div>
</div>