<% if @company.projects.incomplete.empty? %>
    <p>There are no incomplete Projects!</p>
  <% else %>
  <% @company.projects.incomplete.each do |project| %>
    <div class="<%=display_progress(project)%>-col-content">
      <h2><%= link_to "#{project.title}", project_path(project)%><br></h2>
      <strong><%= pretty_deadline(project) %></strong><br>
      <%= project.description %><br><br>
      <h3><strong>Segments</strong>:</h3>

    <% if project.segments.empty?%>
      <p>You do not have any segments associated with this project</p>
    <% else %>
      <% project.segments.ordered.each do |segment| %>
        <div class="<%=display_progress(segment)%>-inner-content">
          <h4><%= link_to "#{segment.title}", project_segment_path(project, segment) %><br></h4>
          <strong><%= pretty_deadline(segment) %></strong><br>
          <%= segment.description %><br>
          <%= completed(segment)%>
        </div>
      <% end %>
    <% end %><br><br>
  <% end %>
<% end %>