<br><br><h1><%= @current_user.company.name %> Projects</h1>

<% @projects.each do |project| %>
    <%= link_to "#{project.title}", project_path(project)%><br><br>
    <%= project.deadline %><br><br>
    <%= project.description %><br><br>
<% end %><br>

<%= link_to "Add Projects", new_project_path %>