
<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <h1>New Project</h1>

    <%= form_for [:team_leader, @project] do |project_builder| %>
    Title: <br>
    <%= project_builder.text_field :title %><br><br>
    Deadline: <br>
    <%= project_builder.date_field :deadline %><br><br>
    Description: <br>
    <%= project_builder.text_area :description %><br><br>

    <%= project_builder.submit "Create Project" %><br><br>
    <% end %>
    </div>
  </div>
</div>
