<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<h1><%= @project.title %></h1>
<%= pretty_deadline(@project) %><br><br>
<%= @project.description %><br><br>

<h3>Segments:</h3>
<%= render :partial => "team_leader/projects/show_segments" %>

        </div>
    </div>
</div>

<%= render :partial => 'team_leader/project_comments/form', :locals => { :subject => @project } %>

<br><%= render :partial => "team_leader/projects/show_comments" %>
