<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">

<% if @segment.errors.full_messages.any? %>
    <h3>Errors:</h3>
    <% @segment.errors.full_messages.each do |message| %>
        <ul>
            <li><%= message %>
        </ul>
    <% end %>
<% end %>

<%= form_for [:admin, @project, @segment] do |segment_builder| %>
    <h4>Add Segment:</h4>
    <%= segment_builder.hidden_field :project_id, :value => @project.id %>
    Title: <%= segment_builder.text_field :title, required: true, placeholder: "Enter the new Segment's title..." %>
    Deadline: <%= segment_builder.date_field :deadline %>
    Description: <%= segment_builder.text_area :description, required: true, placeholder: "Enter the new Segment's description..." %><br><br>
      <% if @company.teams != [] %>
           Pick a Team<%= segment_builder.collection_select :team_id, Team.all, :id, :name, {:include_blank => true} %>
           <%= link_to " or Create New Team", admin_project_path(@project, :show_segment_and_team_form => true) if @segment && @team.nil? && !@show_segment_and_team_form.nil?%>
           <%= link_to " or Create New Team", edit_admin_project_segment_path(@project, @segment, :show_segment_and_team_form => true) unless @show_segment_and_team_form %>
           <%= segment_builder.submit "Create Segment" unless @team %><br><br>
      <% end %>

        <% if @segment.team.nil? %>
          <% if @company.teams == [] %> <p>You currently have not created any teams. You need to create a team before you can create a segment. <% end %>
        <% else %>
          <% if @show_segment_and_team_form %>
          <h3>New Team</h3>
            <%= segment_builder.fields_for :team, @team do |team_builder| %>
            Team Name: <br><%= team_builder.text_field :name, required: true, placeholder: "Enter the new Team's name..." %><br><br>
            Team Description: <br><%= team_builder.text_area :description, required: true, placeholder: "Enter the new Team's description..." %><br><br>
              <% end %>
            <% end %>
          <% end %>
          <%= segment_builder.submit "Create Segment" if @team %>
         </div>
      </div>
  </div>    
<% end %>