<% if @segment.tasks != [] %>
    <% @segment.tasks.ordered.each do |task| %>
      <div class ="<%=display_progress(task)%>-inner-content">
        <br><h4><strong>Task</strong>: <%= link_to "#{task.title}", admin_segment_task_path(@segment.id, task.id) %></h4>
        <strong>Assigned Team Member</strong>: <%= link_to "#{task.assigned_user.full_name}", admin_team_user_path(task.position.team.id, task.assigned_user.id) %> - <%= task.position.title %><br>
        <strong>Description</strong>: <%= task.description %><br>
        <strong>deadline</strong>: <%= pretty_deadline(task) %><br>
        <%= completed(task) %>
        </div>
     <% end %>
    <% else %>
        <p>You do not have any tasks associated with this segment. <%= link_to "Add Tasks", admin_project_segment_path(@segment, :show_task_form => true) unless @task %></p>
    <% end %>