<% @arr = []%>

<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">
  
<% @company.teams.each do |team| %>

<% if team.segments.completed.empty?%>
<% else%>
      <% @team = team %>
      <h3 style="margin-bottom:2%">Team: <%= link_to "#{team.name}", admin_team_path(team) %><br>completed segments:</h3>
        <% team.segments.completed.ordered.each do |segment| %>
        <% @segment = segment %>
        <% @arr << segment %>

        <div class="inner-content">
        <h4><%= link_to "#{segment.title}", admin_project_segment_path(segment.project, segment)%></h4>
        <p style="font-size:20px;margin:0%"><%= pretty_deadline(segment) %></p>
        <p style="font-size:20px;margin:0;">Description: <%= segment.description %></p>
        <p style="font-size:20px;margin:0;">Project: <%= link_to "#{segment.project.title}", admin_project_path(segment.project)%>, <%= pretty_deadline(segment.project) %></p>
        <%= render :partial => "admin/segments/completed_form" %>
          </div>
        <% end %>
      <% end %><br><br>
    <% end %><br><br>
    </div>
  </div>
</div>

<p style="text-align: center;"><%= "There are no completed segments!" if @arr.empty? %><p>