<h1><%= @team.name %></h1>

<%= link_to "Edit Team", edit_admin_team_path(@team)%><br><br>
<%= link_to "Delete Team", @team, :method => :delete %><br><br>

<%= render :partial => "admin/teams/show_team" %>

<br><br><%= link_to "Create New User", admin_team_path(@team, :show_user_form => true ) unless @user %>

<%= render :partial => 'admin/users/form', :locals => { :user => @user } if @user %>
