<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">

<h1><%= @segment.title %></h1>

<%= link_to "Add Tasks", team_leader_project_segment_path(@segment, :show_task_form => true) unless @task || @segment.team != @current_user.team %><br><br>

<div class="col-content">
Project: <%= link_to "#{@segment.project.title}", team_leader_project_path(@segment.project) %><br>
Assigned Team: <%= link_to "#{@segment.team.name}", team_leader_team_path(@segment.team) %><br>

<%= render :partial => "completed_form" if @current_user.team == @segment.team %><br><br>

<h2>Tasks:</h2>
<%= render :partial => "team_leader/segments/show_tasks" %><br>

<%= render :partial => 'team_leader/tasks/form', :locals => { :task => @task } if @task %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'team_leader/segment_comments/form', :locals => { :subject => @segment } %>

<%= render :partial => "show_comments" %>
