<div id="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="home-col"><%= link_to "Create Team", new_admin_team_path %></p>

      <% if @company.teams.empty? %>
        <br><br>Create teams for your company <%= link_to "here", new_admin_team_path %>
      <% else %>
      Active Teams:<br>
        <% @company.teams.each do |team| %>
          <div class="inner-content" %>
            <%=link_to "#{team.name}", admin_team_path(team) %><br>
            <%= team.description %>
            <% if !team.leaders.empty? %>
            Leaders:
              <% team.leaders.each do |leader| %>
                <%= link_to "#{leader.full_name}", admin_team_user_path(team, leader) %><br>
                <%= leader.email %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-7" style="height: 90vh">
      <p class="home-col"><%= link_to "Create Project", new_admin_project_path %></p>
        <% if !@project.nil? %>
        <div class="col-content">
          <h4>Nearest Project Deadline:</h4>
            <h3><%= link_to "#{@project.title}", admin_project_path(@company.projects.last) unless @company.projects == []%></h3>
            <%= pretty_deadline(@project) %><br>
            <%= @project.description %><br><br>
            <%= render :partial => "admin/projects/show_segments" %>
        </div>
        <% else %>
        <br><br>Create projects for your company <%= link_to "here", new_admin_project_path %>
        <% end %>
    </div>
    
    <div class="col-lg">
      <p class="home-col">Late Projects</p>
      <%= render :partial => "admin/projects/show_late_projects"%>
    </div>

  </div>
</div>