<div id="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="home-col"><%= link_to "Create Team", new_admin_team_path %></p>
      Current Teams:<br><br>
      <% @company.teams.each do |team| %>
        <div class="col-content">
          <%=link_to "#{team.name}", admin_team_path(team) %><br>
          <%= team.description %><br><br>
        </div>
        <% end %>
    </div>

    <div class="col-lg-8">
      <p class="home-col"><%= link_to "Create Project", new_admin_project_path %></p>
        <div class="col-content">
        <h4>Nearest Project Deadline:</h4>
        <h3><%= link_to "#{@project.title}", admin_project_path(Project.all.last) unless Project.all == []%></h3>
        <%= pretty_deadline(@project) %><br>
        <%= @project.description %><br><br>
          <%= render :partial => "admin/projects/show_segments" %>
        </div>
    </div>
    
    <div class="col-lg">
      <p class="home-col">Late Projects</p>
      <%= render :partial => "admin/projects/show_late_projects"%>
    </div>

  </div>
</div>