<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
        <% if @user.team.nil? %>
          <p class="home-col">My Team</p>
          <br><p>You have not been assigned to a team</p>
        <% else %>
          <p class="home-col"><%= link_to "My team", team_path(@user.team) %></p>
          <%= link_to "#{@user.team.name}", team_path(@user.team)  %><br><br>
          <%= render :partial => "teams/show_team" %>
        <% end %>
    </div>

    <div class="col-lg-7" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
      <p class="home-col"><%= link_to "My Tasks", "/profile/#{@user.id}" %></p>
      <%= render :partial => "tasks/show_tasks" %>
    </div>
    
    <div class="col-lg" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
      <p class="home-col">Messages</p>
      <br><p>Messaging features are still under development.</p>
    </div>

  </div>
</div>