<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="height:90vh;">
      <% if @user.team.nil? %>
        <p class="home-col">My Team</p>
        <br><p>You have not been assigned to a team.</p>
      <% else %>
        <p class="home-col"><%= link_to "My team", team_path(@user.team) %></p>
        <%= link_to "#{@user.team.name}", team_path(@user.team)  %><br>
        <%= render :partial => "teams/show_team" %>
      <% end %>
    </div>

    <div class="col-lg-7">
      <% if @tasks.empty? %>
        <p class="home-col">My Tasks</p>
        <br><br>You do not have any incomplete tasks assigned to you!</p>
      <% else %>
        <p class="home-col"><%= link_to "My Tasks", "/profile/#{@user.id}" %></p>
        <%= render :partial => "tasks/show_tasks" %>
      <% end %>
    </div>
    
    <div class="col-lg">
      <p class="home-col">Messages</p>
      <br><p>Messaging features are still under development.</p>
    </div>
  </div>
</div>