<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
      <% if @current_user.team.nil? %>
        <p class="home-col">My Team</p>
        <br><br><P>You do not have a team.</p>
      <% else %>
        <p class="home-col"><%= link_to "My Team", team_leader_team_path(@current_user.team) unless @current_user.team.nil? %></p>
      <%= render :partial => "team_leader/teams/show_team" %>
      <% end %>
    </div>

    <div class="col-lg-7" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
      <% if @current_user.team.nil? %>
        <p class="home-col">Segments & Tasks</p>
        <br><br><p>Your team does not have any open Segments or Tasks.</p>
      <% else %>
        <p class="home-col"><%= link_to "Segments & Tasks", team_leader_team_path(@current_user.team) %></p>
        <% @current_user.team.name %>
        <%= render :partial => "team_leader/projects/show_team_segments" %>
      <% end %>
    </div>
    
    <div class="col-lg" style="height:600px;width:120px;border:1px solid #ccc;overflow:auto;">
      <p class="home-col">My Tasks</p>
      <%= render :partial => "team_leader/users/show_tasks" %>
    </div>
  </div>
</div>