<h2>Edit <%= @user.full_name %></h2><br>

<%= form_for [:team_leader, @user], url: "/team_leader/profile/#{@user.id}", :method => "patch" do |user_builder| %>
    First Name: <%= user_builder.text_field :first_name %><br><br>
    Last Name: <%= user_builder.text_field :last_name %><br><br>
    Email: <%= user_builder.text_field :email %><br><br>
    Password: <%= user_builder.password_field :password %><br><br>
    Re-Password: <%= user_builder.password_field :password_confirmation %><br><br>
    Privlages: <br>
    Team Leader: <%= user_builder.radio_button :privilege, :checked => "Team Leader"%><br>
    Team Member: <%= user_builder.radio_button :privilege, :checked => "Team Member"%>

    <br>
    <%= link_to "Update Position", "/team_leader/profile/#{@user.id}/edit/new-position" unless @show_form == "new-position" %>
    
        <% if @user.assigned_position.nil? || @show_form == "new-position" %>
        <%= user_builder.fields_for :position_attributes, @position do |position_builder| %>
           <br><h3>Update Position:</h3>
            Position Title: <%= position_builder.text_field :title %>
            Position Description: <%= position_builder.text_area :description %>
            <br><br><%= user_builder.submit "Submit User" %>
        <% end %>
    <% end %>
  <% end %>