<!DOCTYPE html>
<html>
  <head>
    <title>TaskIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li style="font-size:40px;"><%= link_to "Task It - #{@company.name}", root_path %></li>
    <li><%= link_to "Company Projects", projects_path %></li>
    <li><%= link_to "Company Teams", teams_path %></li>
    <li><%= link_to "Logout", '/logout' %></li>
    <li><%= link_to "Profile", "/profile/#{@current_user.id}" unless @current_user.nil?%>
    <li><%= link_to "Team Leader View", team_leader_home_path if @current_user.admin == true || @current_user.team_leader %></li>
    <li><%= link_to "Admin View", admin_home_path if @current_user.admin == true%></li>
  </ul>
    <%= yield %>
  </body>
</html>
